In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import FunctionTransformer

data = np.array([1, 2, 3, 4, 5, 6], dtype=float)  # Sample data array

transform = FunctionTransformer(func=np.log1p)  # Using sklearn's FunctionTransformer
log_transformed_data = transform.fit_transform(data)

square_transformed_data = np.square(data)

reciprocal_transformed_data = np.reciprocal(data)

sin_transformed_data = np.sin(data)
cos_transformed_data = np.cos(data)
tan_transformed_data = np.tan(data)


sqrt_transformed_data = np.sqrt(data)


results = pd.DataFrame({
    'Original': data,
    'Log (log1p)': log_transformed_data,
    'Square': square_transformed_data,
    'Reciprocal': reciprocal_transformed_data,
    'Sin': sin_transformed_data,
    'Cos': cos_transformed_data,
    'Tan': tan_transformed_data,
    'Square Root': sqrt_transformed_data
})

print(results)

   Original  Log (log1p)  Square  Reciprocal       Sin       Cos       Tan  \
0       1.0     0.693147     1.0    1.000000  0.841471  0.540302  1.557408
1       2.0     1.098612     4.0    0.500000  0.909297 -0.416147 -2.185040
2       3.0     1.386294     9.0    0.333333  0.141120 -0.989992 -0.142547
3       4.0     1.609438    16.0    0.250000 -0.756802 -0.653644  1.157821
4       5.0     1.791759    25.0    0.200000 -0.958924  0.283662 -3.380515
5       6.0     1.945910    36.0    0.166667 -0.279415  0.960170 -0.291006

   Square Root
0     1.000000
1     1.414214
2     1.732051
3     2.000000
4     2.236068
5     2.449490

In [3]:
results

,Original,Log (log1p),Square,Reciprocal,Sin,Cos,Tan,Square Root
0,1.0,0.693147,1.0,1.000000,0.841471,0.540302,1.557408,1.000000
1,2.0,1.098612,4.0,0.500000,0.909297,-0.416147,-2.185040,1.414214
2,3.0,1.386294,9.0,0.333333,0.141120,-0.989992,-0.142547,1.732051
3,4.0,1.609438,16.0,0.250000,-0.756802,-0.653644,1.157821,2.000000
4,5.0,1.791759,25.0,0.200000,-0.958924,0.283662,-3.380515,2.236068
5,6.0,1.945910,36.0,0.166667,-0.279415,0.960170,-0.291006,2.449490