In [4]:
import pandas as pd

data={
    'Region':['North','South','East','West','North','South','East','West'],
    'Product':['A','B','A','B','C','C','B','A'],
    'Sales':[150,200,300,400,250,180,220,310],
    'Quantity':[10,15,20,25,12,14,16,18],
}
df=pd.DataFrame(data)
print("Sample Dataset:\n",df)

Sample Dataset:
   Region Product  Sales  Quantity
0  North       A    150        10
1  South       B    200        15
2   East       A    300        20
3   West       B    400        25
4  North       C    250        12
5  South       C    180        14
6   East       B    220        16
7   West       A    310        18

In [5]:
sales_by_region_sonal=df.groupby('Region')['Sales'].sum()
print("\nTotal Sales by Region:\n",sales_by_region_sonal)

Total Sales by Region:
 Region
East     520
North    400
South    380
West     710
Name: Sales, dtype: int64

In [6]:
mean_by_product_sonal=df.groupby('Product')[['Sales','Quantity']].mean()
print("\nMean Sales and Quantity by Product:\n",mean_by_product_sonal)

Mean Sales and Quantity by Product:
               Sales   Quantity
Product
A        253.333333  16.000000
B        273.333333  18.666667
C        215.000000  13.000000

In [7]:
count_by_region_sonal=df.groupby('Region')['Sales'].count()
print("\nCount of Sales Records by Region:\n",count_by_region_sonal)

Count of Sales Records by Region:
 Region
East     2
North    2
South    2
West     2
Name: Sales, dtype: int64

In [8]:
custom_aggregation_sonal=df.groupby('Region')['Sales'].agg(['min','max'])
print("\nCustom Aggregation:\n",custom_aggregation_sonal)

Custom Aggregation:
         min  max
Region
East    220  300
North   150  250
South   180  200
West    310  400

In [9]:
multi_level_agg_sonal=df.groupby(['Region','Product'])['Sales'].sum()
print("\nSales by Region and Product:\n",multi_level_agg_sonal)

Sales by Region and Product:
 Region  Product
East    A          300
        B          220
North   A          150
        C          250
South   B          200
        C          180
West    A          310
        B          400
Name: Sales, dtype: int64

In [12]:
multi_level_agg_reset_sonal=multi_level_agg_sonal.reset_index()
print("\nSales by Region and Product:\n", multi_level_agg_reset_sonal)

Sales by Region and Product:
   Region Product  Sales
0   East       A    300
1   East       B    220
2  North       A    150
3  North       C    250
4  South       B    200
5  South       C    180
6   West       A    310
7   West       B    400

In [35]:
import pandas as pd

data_sonal={
    'Region':['North','South','East','West','North','South','East','West'],
    'City': ['City1', 'City2', 'City3', 'City4', 'City1', 'City2', 'City3', 'City4'],
    'Product':['A','B','A','B','C','C','B','A'],
    'Sales':[150,200,300,400,250,180,220,310],
    'Quantity':[10,15,20,25,12,14,16,18],
    'Date':pd.to_datetime(['2024-01-01', '2024-01-02', '2024-02-01', '2024-02-03',
                            '2024-03-01', '2024-03-02', '2024-04-01', '2024-04-03'])
}
df_sonal=pd.DataFrame(data_sonal)
print("Extended Dataset:\n",df_sonal)

Extended Dataset:
   Region   City Product  Sales  Quantity       Date
0  North  City1       A    150        10 2024-01-01
1  South  City2       B    200        15 2024-01-02
2   East  City3       A    300        20 2024-02-01
3   West  City4       B    400        25 2024-02-03
4  North  City1       C    250        12 2024-03-01
5  South  City2       C    180        14 2024-03-02
6   East  City3       B    220        16 2024-04-01
7   West  City4       A    310        18 2024-04-03

In [36]:
df_sonal.set_index('Date', inplace=True)

In [37]:
monthly_sales_sonal=df_sonal.resample('M')['Sales'].sum()
print("\nTotal Sales by Month:\n",monthly_sales_sonal)

Total Sales by Month:
 Date
2024-01-31    350
2024-02-29    700
2024-03-31    430
2024-04-30    530
Freq: M, Name: Sales, dtype: int64

In [38]:
quarterly_sales_sonal = df_sonal.resample('Q')['Sales'].sum()
print("\nTotal Sales by Quarter:\n", quarterly_sales_sonal)

Total Sales by Quarter:
 Date
2024-03-31    1480
2024-06-30     530
Freq: Q-DEC, Name: Sales, dtype: int64

In [39]:
yearly_sales_sonal=df_sonal.resample('Y')['Sales'].sum()
print("\nTotal Sales by Year:\n",yearly_sales_sonal)

Total Sales by Year:
 Date
2024-12-31    2010
Freq: A-DEC, Name: Sales, dtype: int64

In [40]:
df_sonal.reset_index(inplace=True)

In [41]:
sales_by_region_sonal = df_sonal.groupby('Region')['Sales'].sum()
print("\nTotal Sales by Region:\n", sales_by_region_sonal)

Total Sales by Region:
 Region
East     520
North    400
South    380
West     710
Name: Sales, dtype: int64

In [42]:
sales_by_city_sonal= df_sonal.groupby('City')['Sales'].sum()
print("\nTotal Sales by City:\n", sales_by_city_sonal)

Total Sales by City:
 City
City1    400
City2    380
City3    520
City4    710
Name: Sales, dtype: int64

In [43]:
sales_by_region_city_sonal=df_sonal.groupby(['Region','City'])['Sales'].sum()
print("\nTotal Sales by Region and City:\n",sales_by_region_city_sonal)

Total Sales by Region and City:
 Region  City
East    City3    520
North   City1    400
South   City2    380
West    City4    710
Name: Sales, dtype: int64

In [46]:
sales_by_region_city_reset_sonal=sales_by_region_city_sonal.reset_index()
sales_by_region_city_reset_sonal.to_csv("spatial_aggregation.csv", index=False)
print("\nSpatial aggregation data saved to 'spatial_aggregation.csv'")

Spatial aggregation data saved to 'spatial_aggregation.csv'